@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  --background-dark: hsl(235, 21%, 11%);
  --list-bg-dark: hsl(235, 24%, 19%);
  --list-dark: hsl(234, 39%, 85%);
  --circle-border-dark: hsl(237, 14%, 26%);
  --left-dark: hsl(233, 14%, 35%);

  --background-light: hsl(0, 0%, 98%);
  --list-bg-light: hsl(0, 0%, 100%);
  --list-light: hsl(235, 19%, 35%);
  --circle-border-light: hsl(236, 33%, 92%);
  --left-light: hsl(236, 9%, 61%);

  --active-state: hsl(220, 98%, 61%);
  --left-gradient: hsl(192, 100%, 67%);
  --right-gradient: hsl(280, 87%, 65%);
}

body {
  font-family: "Josefin Sans";
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
